# Generate Data for Searchable Enterprise Directory Application

In [405]:
# import necessary packages

import csv
import random

### Set up dicts and lists to create data

In [406]:
# Lists of possible names

first_names = ["Ava", "Noah", "Jacob", "Liam", "Noah", "Oliver", "James", "Elijah", "William", "Henry", "Lucas", "Benjamin", "Theodore",
               "Olivia", "Emma", "Charlotte", "Amelia", "Sophia", "Isabella", "Mia", "Evelyn", "Luna"]

last_names = ["Downey", "Ramdial", "Lettick", "Smith", "Johnson", "Williams", "Jones", "Brown", "Garcia", "Miller", "Davis", 
              "Rodriguez", "Martinez", "Hernandez", "Wilson", "Lopez", "Anderson", "Thomas", "Moore", "Jackson"]

In [407]:
# dictionaries needed to make data have some correlation

work_location_mult = {
    "Hartford, CT" : 1.217,
    "Saint Paul, MN" : 1.135,
    "Hunt Valley, MD" : 1.117,
    "New York, NY" : 1.670
}

job_role_mult = {
    "Junior Software Engineer" : 1.3,
    "Senior Software Engineer" : 2.12,
    "Software Engineer Manager" : 2.66,
    "Junior Data Engineer" : 1.5,
    "Senior Data Engineer" : 2.30,
    "Data Engineer Manager" : 2.60,
    "HR Representative" : 0.73,
    "HR Specialist" : 1,
    "HR Manager" : 1.66
}

job_roles_t1 = ['Software Engineer Manager', 'Data Engineer Manager', 'HR Manager']
job_roles_swe = ['Senior Software Engineer', 'Junior Software Engineer']
job_roles_de = ['Senior Data Engineer', 'Junior Data Engineer']
job_roles_hr = ['HR Specialist', 'HR Representative']

In [408]:
# constants among all rows

password = "Password123!"

### generate the data

In [409]:
# generate phone number
# code modified from https://stackoverflow.com/questions/26226801/making-random-phone-number-xxx-xxx-xxxx

def gen_phone_num():
    first = str(random.randint(600,999))
    second = str(random.randint(1,888)).zfill(3)

    last = (str(random.randint(1,9998)).zfill(4))
    while last in ['1111','2222','3333','4444','5555','6666','7777','8888']:
        last = (str(random.randint(1,9998)).zfill(4))
        
    return '{}-{}-{}'.format(first,second, last)

In [410]:
# generate salary with noise multiplier

def gen_salary(job_role, work_location):
    salary = 60000 * job_role_mult.get(job_role) * work_location_mult.get(work_location)
    salary = salary * random.uniform(0.93, 1.08 ) # noise
    return round(salary, 2)

In [411]:
NUM_ROWS = 999
data_rows = []

# make CEO employee
name = "Alan Schnitzer"
employee_id = 10000
phone_number = gen_phone_num()
job_role = "CEO"
work_location = "Hartford, CT"
salary = 16778800
manager_id = 10000

data_row = [
    name,
    password,
    employee_id,
    phone_number,
    job_role,
    work_location,
    salary,
    manager_id
]

# Add the data row to the list
data_rows.append(data_row)

for x in range(NUM_ROWS):
    name = "{} {}".format(random.choice(first_names), random.choice(last_names))
    employee_id = x + 10001
    phone_number = gen_phone_num()
    work_location = random.choice(list(work_location_mult.keys()))

    # determine manager and job role
    if (x % 20 == 0): # management roles reporting to CEO
        job_role = random.choice(job_roles_t1)
        manager_id = 10000
    elif (data_rows[x-(x%20)+1][4] == "Software Engineer Manager"): # report to swe manager
        job_role = random.choice(job_roles_swe)
        manager_id = data_rows[x-(x%20)+1][2]
    elif (data_rows[x-(x%20)+1][4] == "Data Engineer Manager"): # report to de manager
        job_role = random.choice(job_roles_de)
        manager_id = data_rows[x-(x%20)+1][2]
    elif (data_rows[x-(x%20)+1][4] == "HR Manager"): # report to hr manager
        job_role = random.choice(job_roles_hr)
        manager_id = data_rows[x-(x%20)+1][2]

    salary = gen_salary(job_role, work_location)

    data_row = [
        name,
        password,
        employee_id,
        phone_number,
        job_role,
        work_location,
        salary,
        manager_id
    ]

    # Add the data row to the list
    data_rows.append(data_row)

In [412]:
# test row outputs

print(data_rows[0])
print(data_rows[1])
print(data_rows[10])
print(data_rows[11])
print(data_rows[999])

['Alan Schnitzer', 'Password123!', 10000, '729-201-5955', 'CEO', 'Hartford, CT', 16778800, 10000]
['Olivia Davis', 'Password123!', 10001, '763-122-9344', 'Data Engineer Manager', 'New York, NY', 258595.72, 10000]
['Lucas Jones', 'Password123!', 10010, '839-834-4026', 'Senior Data Engineer', 'New York, NY', 243020.05, 10001]
['Lucas Johnson', 'Password123!', 10011, '964-392-9443', 'Junior Data Engineer', 'Saint Paul, MN', 98224.93, 10001]
['William Martinez', 'Password123!', 10999, '625-313-5403', 'Junior Data Engineer', 'New York, NY', 153913.02, 10981]

In [413]:
import pandas as pd
df = pd.DataFrame(data_rows)
df.head(45)

,0,1,2,3,4,5,6,7
0,Alan Schnitzer,Password123!,10000,729-201-5955,CEO,"Hartford, CT",16778800.00,10000
1,Olivia Davis,Password123!,10001,763-122-9344,Data Engineer Manager,"New York, NY",258595.72,10000
2,Theodore Lettick,Password123!,10002,764-886-6866,Junior Data Engineer,"New York, NY",158211.14,10001
3,Lucas Rodriguez,Password123!,10003,916-005-0173,Senior Data Engineer,"Hunt Valley, MD",151014.95,10001
4,Lucas Smith,Password123!,10004,878-866-1564,Senior Data Engineer,"New York, NY",220555.55,10001
5,Mia Brown,Password123!,10005,865-054-5938,Junior Data Engineer,"Hunt Valley, MD",106683.52,10001
6,Sophia Williams,Password123!,10006,983-150-9231,Junior Data Engineer,"Hartford, CT",112442.59,10001
7,Elijah Garcia,Password123!,10007,896-844-6749,Senior Data Engineer,"Hartford, CT",164933.48,10001
8,Ava Thomas,Password123!,10008,846-858-4440,Junior Data Engineer,"Hunt Valley, MD",105558.17,10001
9,Elijah Moore,Password123!,10009,818-270-5340,Junior Data Engineer,"Hunt Valley, MD",106016.39,10001
10,Lucas Jones,Password123!,10010,839-834-4026,Senior Data Engineer,"New York, NY",243020.05,10001
11,Lucas Johnson,Password123!,10011,964-392-9443,Junior Data Engineer,"Saint Paul, MN",98224.93,10001
12,Amelia Thomas,Password123!,10012,701-209-1514,Junior Data Engineer,"Saint Paul, MN",98773.05,10001
13,Ava Anderson,Password123!,10013,753-105-6783,Senior Data Engineer,"Hunt Valley, MD",146745.95,10001
14,Elijah Hernandez,Password123!,10014,994-373-5527,Senior Data Engineer,"Hunt Valley, MD",145147.67,10001
15,Charlotte Lopez,Password123!,10015,954-464-8469,Junior Data Engineer,"Hunt Valley, MD",105146.06,10001
16,James Hernandez,Password123!,10016,680-062-3587,Senior Data Engineer,"New York, NY",236415.58,10001
17,Benjamin Johnson,Password123!,10017,601-340-3487,Senior Data Engineer,"Saint Paul, MN",164726.13,10001
18,Henry Martinez,Password123!,10018,749-868-7602,Junior Data Engineer,"Saint Paul, MN",95651.85,10001
19,Charlotte Thomas,Password123!,10019,649-012-2006,Senior Data Engineer,"Hartford, CT",166964.94,10001
20,Olivia Johnson,Password123!,10020,765-508-6613,Senior Data Engineer,"Hartford, CT",173865.47,10001
21,Mia Williams,Password123!,10021,903-238-4574,Data Engineer Manager,"Hartford, CT",185142.02,10000
22,Henry Hernandez,Password123!,10022,687-263-2920,Junior Data Engineer,"Saint Paul, MN",102212.42,10021
23,Noah Smith,Password123!,10023,989-708-7636,Junior Data Engineer,"New York, NY",154903.57,10021
24,Henry Moore,Password123!,10024,752-282-2563,Senior Data Engineer,"New York, NY",230648.63,10021
25,Charlotte Garcia,Password123!,10025,674-606-4040,Junior Data Engineer,"New York, NY",144396.04,10021
26,Noah Lopez,Password123!,10026,972-008-7550,Senior Data Engineer,"Saint Paul, MN",159180.25,10021
27,Amelia Smith,Password123!,10027,606-291-4427,Junior Data Engineer,"Saint Paul, MN",108610.30,10021
28,Oliver Ramdial,Password123!,10028,685-045-8704,Junior Data Engineer,"New York, NY",145661.67,10021
29,Ava Miller,Password123!,10029,760-660-9881,Junior Data Engineer,"Hunt Valley, MD",105531.21,10021
30,Mia Hernandez,Password123!,10030,951-025-5231,Senior Data Engineer,"New York, NY",236623.65,10021
31,Isabella Smith,Password123!,10031,970-405-7273,Junior Data Engineer,"Hartford, CT",103520.95,10021
32,Henry Lopez,Password123!,10032,978-234-5122,Junior Data Engineer,"Saint Paul, MN",98313.46,10021
33,Noah Garcia,Password123!,10033,750-805-9926,Junior Data Engineer,"Hunt Valley, MD",106124.97,10021
34,Benjamin Anderson,Password123!,10034,831-485-3469,Junior Data Engineer,"Hunt Valley, MD",98717.28,10021
35,Henry Anderson,Password123!,10035,682-332-3848,Junior Data Engineer,"Saint Paul, MN",108803.13,10021
36,Oliver Thomas,Password123!,10036,839-317-8195,Senior Data Engineer,"New York, NY",216839.12,10021
37,Henry Moore,Password123!,10037,713-369-5657,Senior Data Engineer,"Hunt Valley, MD",164130.16,10021
38,Amelia Thomas,Password123!,10038,827-816-2599,Junior Data Engineer,"Saint Paul, MN",108831.71,10021
39,James Ramdial,Password123!,10039,704-468-0953,Senior Data Engineer,"New York, NY",241476.94,10021
40,Olivia Lopez,Password123!,10040,669-373-7419,Junior Data Engineer,"Saint Paul, MN",100359.03,10021
41,Luna Hernandez,Password123!,10041,882-741-1428,HR Manager,"Hunt Valley, MD",111703.96,10000
42,Charlotte Hernandez,Password123!,10042,684-094-8999,HR Specialist,"Hunt Valley, MD",71503.43,10041
43,Olivia Williams,Password123!,10043,856-144-6387,HR Representative,"Hartford, CT",57120.65,10041
44,Elijah Jackson,Password123!,10044,778-844-3456,HR Representative,"Hartford, CT",52138.76,10041

In [414]:
print(df[7].unique())

[10000 10001 10021 10041 10061 10081 10101 10121 10141 10161 10181 10201
 10221 10241 10261 10281 10301 10321 10341 10361 10381 10401 10421 10441
 10461 10481 10501 10521 10541 10561 10581 10601 10621 10641 10661 10681
 10701 10721 10741 10761 10781 10801 10821 10841 10861 10881 10901 10921
 10941 10961 10981]

In [415]:
# Write the data to the CSV file
with open('data.csv', "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(
        ["name", "password", "employee_id", "phone_number", "job_role", "work_location", "salary",
         "manager_id"]
    )
    writer.writerows(data_rows)

print("Data generation complete.")

Data generation complete.